/* Contains all of the common css rules used by every page */

:root {
    --kk-brown: #ad8463;
    --kk-blue: #5d8fc2;
    --kk-red: #c2695d;
    --kk-yellow: #fff563;
    --default-fonts: 'Nunito',Trebuchet MS,Arial, Helvetica, sans-serif;
}

html, body {
    margin:0;
    padding:0;    
    width: 100%;
    height: 100%;
}

input, button {
    cursor: pointer;
}

header {
    height: 4em;
    background-color: var(--kk-blue);
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.7);
    z-index: 1;
}

#header-title {
    height: 85%;
    padding: 4px;
    box-sizing: border-box;
    margin-left: 5px;
    border-radius: 5px;
    background: transparent;
    border-style: none;
}

#header {
    font-family: var(--default-fonts);
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    line-height: 1.75em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    float: left;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

#header-icon {

    margin-right: 5px;
    object-fit: contain;
    width: auto;
    height: 100%;
    display: inline-block;
    float: left;
}

#radio-icon {
    display: inline;
}

footer {
    background-color: lavender;
    height: 2em;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
}

footer p {
    font-family: var(--default-fonts);
    font-size: 0.7em;
    height: 1em;
    margin-left: 10px;
    margin-top: 5px;
}

